body{
	background-color:#ecf0f1; /*Azure*/
	width: 100%;
	margin: 0 auto;

	color:#34495e; /*Cello*/
	transition: color 0.5s ease-in-out;
}

h1{display: inline;}

h4{display: inline;}

.navi-box {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
	list-style-type: none;
}

.navi-item {
	padding: 10px;
	cursor: pointer;
}

.navi-item a {
	text-align: center;
	text-decoration: none;
	color: rgb(11,4,103);
}