/* square square square square square rgb(11,4,103), rgb(21,13,125), rgb(43,32,180), rgb(80,69,221), rgb(142,136,223) */
/* Stunning rgb(53,44,178), rgb(49,40,171), rgb(46,37,116), rgb(40,31,156), rgb(30,21,139), rgb(27,19,136), rgb(23,15,128), rgb(21,13,125) */
/* Startup, Economics, Marketing rgb(142,136,223) */

body{
	background-color:#ecf0f1; /*Azure*/
	width: 100%;
	color:#34495e; /*Cello*/
	transition: color 0.5s ease-in-out;
}

h1{display: inline;}
h2{display: inline;}
h4{display: inline;}

div{
	margin:0 auto;
text-align:center;
}

.cropping{
    width: 643px;
    height: 393px;
    overflow:hidden;
}

.cropping img{
	margin-left:-17%;
	margin-top:0%;
	width:50%;
}

header{
	background-color:white;
	position:fixed;
	left:0;
	top:0;
	padding: 0rem;
	height:9rem;
	width:100%;
}

nav{
	position:fixed;	
	top:8rem;
	height:3rem;
	width:100%;
}

section{
	margin-top:12rem;
}

.navi-box {
	display: inline-block;
	position:relative;
	width: 100%;
	padding: 0;
	background-color: #CCCCCC;
	list-style-type: none;
	text-align: center;
}

.navi-item {
	margin: 0 auto;
	text-align: center;
	display:inline;
}

.navi-item a {
	text-align: center;
	text-decoration: none;
	margin:0.5rem;
	color: rgb(11,4,103);
}

.navi-subbox{
	cursor: pointer;
	background: #DDDDDD;
	display: none;
	list-style-type: none;
	position:absolute;
	padding: 0px;
}

.navi-subitem {
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

.navi-subitem a {
	text-align: center;
	text-decoration: none;
}

.navi-item:hover .navi-subbox {
	display:block;
	color: rgb(11,4,103);
}

.navi-item a:hover {
	background: #FFFFFF;
}